body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  color: #333;
}

p {
  text-align: center;
  color: #666;
}

form {
  margin-bottom: 20px;
}

.image-section {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  justify-content: space-between;
}

.image-upload {
  /* width: 48%; */
  width: 29%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Media query for smaller screens */
@media screen and (max-width: 1490px) {
  .image-upload {
    width: 46%; /* width for smaller screens */
    margin-right: 0; /*  margin for better spacing on smaller screens */
    margin-bottom: 20px;
  }
}

.image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.image-preview img {
  max-width: 100%;
  max-height: 250px;
}

.drop-area {
  width: 97%;
  padding: 2%;
  border: 2px dashed #aaa;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.drop-area-preview {
  width: 100%;
  max-height: 250px;
  padding: 20px;
  border: 2px dashed #aaa;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}

.drop-area:hover {
  background-color: #faf8ffe0;
}

.drop-text {
  font-size: 16px;
  color: #888;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-left: 0px;
  margin-top: 10px;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: rgb(255, 255, 255);
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-btn-wrapper input[type="file"] {
  border-radius: 8px;
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.upload-btn-wrapper:hover .btn {
  background-color: #a9a9a9d4;
}
form .submit-btn-container {
  margin-top: 40px;
  text-align: center;
}
form button[type="submit"] {
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 8px;
  background-color: #a39dca;
  transition: background-color 0.3s;
}

form button[type="submit"]:hover {
  background-color: #a39dca8a;
}

form input[type="submit"] {
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 8px;
  background-color: #d1d0d9;
  transition: background-color 0.3s;
}
form input[type="submit"]:hover {
  background-color: #a5a4ad8a;
}
